mixin datetime(time)
    p #{moment(time).format("DD/MM/yyyy")}
    p #{moment(time).format("HH:mm:ss")}
mixin date()
    p #{moment(time).format("DD/MM/yyyy")}
mixin time()
    p #{moment(time).format("HH:mm:ss")}