extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert
block main
    +error(5000)
    .container.my-5
        .row.justify-content-center
            .col-8
                h1(class="text-center") Xác Nhận Mã OTP
                form(action="/user/password/otp" method="POST")
                    div(class="form-group")
                        label(for="email") Email
                        input(type="email" class="form-control" id="email" name="email" value=email readonly)
                    div(class="form-group")
                        label(for="otp") OTP (Mã có liệu lực trong 5 phút)
                        input(type="number" class="form-control" id="otp" name="otp" required)

                    div(class="form-group")
                                button(
                                    type="submit"
                                    class="btn btn-info btn-block"
                            ) Gửi mã OTP